/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();

$my-theme-primary: mat-palette($mat-cyan,50);
$my-theme-accent: mat-palette($mat-red,800);

$my-theme: mat-light-theme($my-theme-primary,$my-theme-accent);

@include angular-material-theme($my-theme);
body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
    height: 100vh;
}
 
app-root {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  display: block;
  background: black;
}

.gText {
    color : white;
}

h1 {
  text-align: center;
}

input.ng-touched.ng-invalid{
  border-color: #dc3545;
}

input.ng-valid{
  border-color: #28a745;
}