<div>
    <img [src]="images[0].path">
    <h1>About Us</h1>
        <hr>
        <p>The Kogarashi family started a food stand selling sushi for their local community. With the support and sales, they've decided to try their luck by opening their own sushi restaurant in Shinjuku. With the connections they made with their local community, the Kogarashi family were able to use fresh ingredients to make their sushi without spending a fortune. The Kogarashi family kept their sushi prices low enough to where they earned just enough to where they can maintain their well being. News spread about their low prices for good sushi and the support of the Shinjuku community, the Kogarashi family restaurants have now became one of best sushi restaurants in Japan.</p>
</div> 