<div>
    <img [src]="images[0].path">
    <h1>Calender</h1>
    <hr>
    <table><!--Starts table-->
        <caption>Discounts During Holidays</caption>
        <tr><!-- Column header -->
            <th>Occasion</th>
            <th>discount</th>
        </tr>
        <tbody>
        <tr><!-- Row 1 -->
            <td class="indexcolumn1">
                Golden Week: April 29 - May 5
            </td>
            <td>
                <ul>
                    <li>10% off for adults</li>
                    <li>25% off for kids and teens</li>
                </ul>
            
            </td>
        </tr>
        <tr><!-- Row 2 -->
            <td class="indexcolumn1">
                Christmas: December 22-24
            </td>
            <td>
                <ul>
                    <li>20% off for adults</li>
                    <li>35% off for kids and teens</li>
                </ul>
            
            </td>
        </tr>
        <tr><!-- Row 3 -->
            <td class="indexcolumn1">
                New Years: December 29 - January 3
            </td>
            <td>
                <ul>
                    <li>15% off for adults</li>
                    <li>30% off for kids and teens</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <p>Follow us on <a href="https://twitter.com" target="_blank">Twitter for special discounts!</a></p>
</div>