table {
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
}
table, th, td {
    border: 1px solid #ffffff;
}
caption {
    color: white;
    text-align: center;
    caption-side: top;
}
img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: auto;
    width: 75%;
}