.container {
    width: 80%;
}
nav a {
    color: white;
}

.mat-tab-group {
    margin-bottom: 48px;
}

nav a:hover {
    background-color: #3c4456;
    text-decoration: none;
}
img {
    height: auto;
    max-width: 450px;
}