<ul>
    <li>
        <a routerLink="/">Home</a>
    </li>
    <li>
        <a routerLink="Menu">Menu</a>
    </li>
    <li>
        <a routerLink="Reservation">Reservation</a>
    </li>
    <!-- 
    <li>
        <a href="carryout.html">Carry Out</a>
    </li>
    <li>
        <a href="location.html">Location</a>
    </li>
    <li>
        <a href="calender.html">Calender</a>
    </li>
    <li>
        <a href="aboutus.html">About Us</a>
    </li>
    <li>
        <a href="contactus.html">Contact Us</a>
    </li> -->
</ul>
<!-- <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
    <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="1"> Left (pre-checked)
    </label>
    <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" value="middle"> Middle
    </label>
    <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="false"> Right
    </label>
</div>
<hr> -->
