img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: auto;
    width: 75%;
}
p {
    text-align: center;
}
hr{
    height: 1px;
    background-color: white;
}
button:disabled{
    background-color: red;
  }
  button:enabled {
      background-color: green;
  }