<div fxLayout="col" fxLayoutGap="10px">
    <mat-card class="backg" fxFlex="50%">
        <mat-card-header>
            <mat-card-title>Sushi Menu</mat-card-title>
            <mat-card-subtitle>Sushi Made For You</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/sushimenu.jpg" alt="photo of     sushi menu">
        <mat-card-actions>
            <button mat-button (click)="MenuDialog()">Check Menu</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="backg" fxFlex="50%">
        <mat-card-header>
            <mat-card-title>Cocktails</mat-card-title>
            <mat-card-subtitle>Drinks to go With Your Sushi</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/cocktailmenu.jpg" alt="Photo of a Shiba Inu">
        <mat-card-actions>
            <button mat-button>Check Menu</button>
        </mat-card-actions>
    </mat-card>
</div>
